header{
    background-color: rgb(74, 118, 168);
    height: 42px;
}

.logo
{
    height: 19px;
    width: 32px;
    background: url(logo.svg) 100% 100% no-repeat;
    background-size: cover;
}
.search{
    margin-left: 359px;
}